mixin sProfile()
	// start sProfile
	+b.sProfile.pt-0.section#sProfile&attributes(attributes)
		+e.head.row.row--main
			.col-md-auto
				+pic("profile",'bg','',0)
			.col.text-secondary
				table
					mixin tr(t1,t2)
						tr
							th= t1
							td= t2
					+tr('Дата рождения','3 января 1966 г.')
					+tr('Дата хиротонии','30 января 2005 г.')
					+tr('Дата пострига','4 января 1987 г.')
					+tr('День ангела','9 января')
					+tr('Образование','1988 г. — Московская духовная семинария')
					+tr('','2002 г. — Киевская духовная академия')
		p Стефан, архиепископ Гомельский и&nbsp;Жлобинский (Нещерет Анатолий Владимирович) родился 3&nbsp;января 1966&nbsp;г.&nbsp;в&nbsp;с. Вертиевка Нежинского р-на Черниговской обл.&nbsp;в&nbsp;крестьянской семье.

		p После окончания средней школы в&nbsp;1982 году жил в&nbsp;Чернигове, где проходил послушание иподиакона у&nbsp;архиепископа Черниговского и&nbsp;Нежинского Антония.
			br
			| По&nbsp;завершении службы в&nbsp;рядах Вооруженных сил в&nbsp;1985-1988&nbsp;гг. учился в&nbsp;Московской духовной семинарии.

		p 4&nbsp;января 1987&nbsp;г.&nbsp;в&nbsp;Свято-Троицком соборе Троице-Сергиевой лавры инспектором МДС архимандритом Венедиктом (Князевым) пострижен в&nbsp;монашество с&nbsp;именем Стефан в&nbsp;честь первомученика архидиакона Стефана.

		p 14&nbsp;января 1987&nbsp;г.&nbsp;в&nbsp;Покровском академическом храме ректором Московских духовных школ архиепископом Дмитровским Александром рукоположен во&nbsp;иеродиакона, 3&nbsp;июня&nbsp;&mdash; во&nbsp;иеромонаха в&nbsp;церкви в&nbsp;честь Смоленской иконы Божией Матери в&nbsp;Троице-Сергиевой лавре.

		p С&nbsp;1987&nbsp;г.&nbsp;по&nbsp;октябрь 1988&nbsp;г. служил в&nbsp;Свято-Николаевском храме&nbsp;д. Работин Коропского р-на Черниговской обл., затем по&nbsp;май 1990&nbsp;г. нес различные послушания в&nbsp;Киево-Печерской лавре, с&nbsp;мая по&nbsp;сентябрь 1990&nbsp;г. был настоятелем Свято-Николаевской церкви в&nbsp;д. Сварычевка Игнянского р-на Черниговской обл.

		p 1&nbsp;ноября 1990&nbsp;г. переведен в&nbsp;Гомельскую епархию и&nbsp;назначен настоятелем Свято-Покровского храма в&nbsp;с. Корма Добрушского р-на Гомельской обл. Здесь в&nbsp;1991&nbsp;г. были обретены мощи святого праведного Иоанна (Гашкевича), чудотворца Кормянского, причисленного к&nbsp;лику местночтимых святых 30&nbsp;апреля 1998&nbsp;г. Обретение мощей совпало с&nbsp;приездом в&nbsp;Гомель Святейшего Патриарха Алексия II&nbsp;в дни первого визита Его Святейшества в&nbsp;Беларусь.

		p 13&nbsp;января 1994&nbsp;г. возведен в&nbsp;сан игумена, 14&nbsp;октября 1997&nbsp;г. &mdash;&nbsp;в&nbsp;сан архимандрита.

		p 22&nbsp;декабря 1998&nbsp;г. назначен благочинным Добрушско-Кормянского церковного округа. Став местом паломничества, Свято-Покровский приход в&nbsp;Корме в&nbsp;2000&nbsp;г. был преобразован в&nbsp;Иоанно-Кормянский женский монастырь, а&nbsp;архимандрит Стефан назначен его строителем. В&nbsp;период своего пастырского служения архимандрит Стефан создал Службу с&nbsp;акафистом святому праведному Иоанну Кормянскому и&nbsp;акафист преподобному Лаврентию Черниговскому.

		p В&nbsp;2002&nbsp;г. окончил Киевскую духовную академию.

		p Постановлением Священного Синода от&nbsp;24&nbsp;декабря 2004&nbsp;г. определен епископом Туровским и&nbsp;Мозырским.

		p 29&nbsp;января 2005&nbsp;г.&nbsp;в&nbsp;Петро-Павловском соборе&nbsp;г. Гомеля наречен, а&nbsp;30&nbsp;января&nbsp;&mdash; хиротонисан во&nbsp;епископа Туровского и&nbsp;Мозырского. Хиротонию совершили: митрополит Минский и&nbsp;Слуцкий Филарет, архиепископы Уральский Антоний, Витебский Димитрий, Пинский Стефан, Гомельский Аристарх, епископы Бобруйский Петр, Гродненский Артемий, Новогрудский Гурий, Полоцкий Феодосий, епископы Черниговский Амвросий, Васильковский Пантелеимон, Могилевский Софроний, Брестский Иоанн.
		p Решением Синода БПЦ от&nbsp;12&nbsp;января 2012&nbsp;г. (журнал &#8470;&nbsp;150) назначен председателем Комиссии по&nbsp;канонизации святых Белорусской Православной Церкви.

		p Решением Священного Синода Русской Православной Церкви от&nbsp;07&nbsp;июня 2012 года определен епископом Гомельским и&nbsp;Жлобинским.

		p 1&nbsp;февраля 2018г. возведен в&nbsp;сан архиепископа, соответствующий указ огласил патриарх Московский и&nbsp;всея Руси Кирилл в&nbsp;храме Христа Спасителя за&nbsp;Божественной литургией в&nbsp;девятую годовщину интронизации.
	// end sProfile