mixin sNewsBody(t)
	// start sNews
	+b.sNews.section&attributes(attributes)
		if t
			h2= t
		if block
			block
		else
			.row.row--main
				.col-md-6
					+cardNews('news-1', '"Пасхальный концерт" Камерного хора филармонии')
				.col-md-6
					+cardNews('news-2', 'Благодатный Огонь доставлен в храмы Гомеля в сопровождении...')
				.col-md-6
					+cardNews('news-3', 'Вторая Божественная литургия в Светлое Христово Воскресение')
				.col-md-6
					+cardNews('news-4', 'Благодатный огонь сошел в Иерусалиме')
				.col-md-6
					+cardNews('news-5', 'Благодатный огонь доставят в Гомель')
				.col-md-6
					+cardNews('news-6', 'РОГАЧЕВ. Наведение порядка в местах захоронений')
			.col-md-6
				a.btn.btn-outline.btn-block(href="#") Смотреть все статьи
	// end sNews
mixin sNews()
	+sNewsBody('Епархиальная жизнь')
mixin sNews2()
	+sNewsBody('Архиерейские визиты и встречи')
		.row.row--main
			.col-md-6
				+cardNews('news-7', ' Рабочий визит в строящийся храм священномученика Алексея...')
			.col-md-6
				+cardNews('news-8', ' Состоялось заседание Синода Белорусской Православной Церкви')
			.col-md-6
				+cardNews('news-9', ' Крестный ход вокруг г.Светлогорска с особо чтимыми святынями')
			.col-md-6
				+cardNews('news-10', ' ЖЛОБИН. Собрание духовенства Жлобинского благочиннического..')
mixin sNews22()
	+sNewsBody('Читайте также')
		.row.row--main
			.col-md-6
				+cardNews('news-7', ' Рабочий визит в строящийся храм священномученика Алексея...')
			.col-md-6
				+cardNews('news-8', ' Состоялось заседание Синода Белорусской Православной Церкви')
			.col-md-6
				+cardNews('news-9', ' Крестный ход вокруг г.Светлогорска с особо чтимыми святынями')
			.col-md-6
				+cardNews('news-10', ' ЖЛОБИН. Собрание духовенства Жлобинского благочиннического..')
mixin sNews4()
	+sNewsBody()(class="pt-0")
		.container
			+b.sort-block
				label
					+e.SPAN.title Сортировка
					select()
						option По дате
						option По дате
						option По дате
						option По дате
						option По дате
			.row.row--main
				.col-lg-4.col-md-6
					+cardNews('news-1', '"Пасхальный концерт" Камерного хора филармонии')
				.col-lg-4.col-md-6
					+cardNews('news-2', 'Благодатный Огонь доставлен в храмы Гомеля в сопровождении...')
				.col-lg-4.col-md-6
					+cardNews('news-3', 'Вторая Божественная литургия в Светлое Христово Воскресение')
				.col-lg-4.col-md-6
					+cardNews('news-4', 'Благодатный огонь сошел в Иерусалиме')
				.col-lg-4.col-md-6
					+cardNews('news-5', 'Благодатный огонь доставят в Гомель')
				.col-lg-4.col-md-6
					+cardNews('news-6', 'РОГАЧЕВ. Наведение порядка в местах захоронений')
				.col-lg-4.col-md-6
					+cardNews('news-7', ' Рабочий визит в строящийся храм священномученика Алексея...')
				.col-lg-4.col-md-6
					+cardNews('news-8', ' Состоялось заседание Синода Белорусской Православной Церкви')
				.col-lg-4.col-md-6
					+cardNews('news-9', ' Крестный ход вокруг г.Светлогорска с особо чтимыми святынями')
				.col-lg-4.col-md-6
					+cardNews('news-10', ' ЖЛОБИН. Собрание духовенства Жлобинского благочиннического..')
				.col-lg-4.col-md-6
					+cardNews('news-1', '"Пасхальный концерт" Камерного хора филармонии')
				.col-lg-4.col-md-6
					+cardNews('news-2', 'Благодатный Огонь доставлен в храмы Гомеля в сопровождении...')
				.col-lg-4.col-md-6
					+cardNews('news-10', ' ЖЛОБИН. Собрание духовенства Жлобинского благочиннического..')
				.col-lg-4.col-md-6
					+cardNews('news-1', '"Пасхальный концерт" Камерного хора филармонии')
				.col-lg-4.col-md-6
					+cardNews('news-2', 'Благодатный Огонь доставлен в храмы Гомеля в сопровождении...')
			+pugin()