$default-font: "Montserrat";
$mono: "Akathistos Caps ie Ucs";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff;

@include font-face ($default-font, $addr + "Montserrat-Medium", $file-formats: $file-format);
@include font-face ($default-font, $addr + "Montserrat-SemiBold", 600, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Montserrat-Bold", 700, $file-formats: $file-format);
@include font-face ($mono, $addr + "Akathistos-Caps-ieUcs-Regular",  $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold