mixin sCalendar()
	// start sCalendar
	+b.SECTION.sCalendar.section#sCalendar&attributes(attributes)
		h2 Календарь
		+e.wrap
			+e.calendar-header
				+e.control-btn--prev
					+icon('chevron-left')
				+e.month-name Апрель 2020 г.
				+e.control-btn--next
					+icon('chevron-right') 
			+e.TABLE.calendar-body
				thead
					tr
						td.header-cell Пн
						td.header-cell Вт
						td.header-cell Ср
						td.header-cell Чт
						td.header-cell Пт
						td.header-cell Сб
						td.header-cell Вс
				tbody
					tr
					
						td.day-of-other-month 
						td.day-of-other-month 
						td.default-day.text-primary.strong: a(href="#") 1
						td.default-day.text-primary.strong: a(href="#") 2
						td.default-day.text-primary.strong: a(href="#") 3
						td.default-day.text-primary.strong: a(href="#") 4
						td.default-day.text-primary.strong: a(href="#") 5
					tr
				 
						td.default-day.text-primary.strong: a(href="#") 6
						td.default-day.text-primary.strong: a(href="#") 7
						td.default-day.text-primary.strong: a(href="#") 8 
						td.default-day.text-primary.strong: a(href="#") 9
						td.default-day.text-primary.strong: a(href="#") 10
						td.default-day.text-primary.strong: a(href="#") 11
						td.default-day.text-primary.strong: a(href="#") 12
					tr
						td.default-day.text-primary.strong: a(href="#")  13
						td.default-day.text-primary.strong: a(href="#")  14
						td.default-day.text-primary.strong: a(href="#")  15
						td.default-day.today-cell: a(href="#")  16
						td.default-day: a(href="#")  17
						td.default-day.text-primary.strong: a(href="#")  18
						td.default-day.text-primary.strong: a(href="#")  19
					tr
					 
						td.default-day: a(href="#")  20
						td.default-day: a(href="#")  21
						td.default-day: a(href="#")  22 
						td.default-day: a(href="#")  23
						td.default-day: a(href="#")  24
						td.default-day.text-primary.strong: a(href="#")  25
						td.default-day.text-primary.strong: a(href="#")  26
					tr
						td.default-day: a(href="#")  27
						td.default-day: a(href="#")  28
						td.default-day: a(href="#")  29
						td.default-day: a(href="#")  30
						td
						td
						td
					//- tr
					//- 	td.day-of-other-month 
					//- 	td.day-of-other-month 
					//- 	td.day-of-other-month 
					//- 	td.day-of-other-month 
					//- 	td.day-of-other-month 
					//- 	td.day-of-other-month 
					//- 	td.day-of-other-month 
			div
				a(href="#") Смотреть все новости за месяц
			
	// end sCalendar