
	// start .sCalendar
	.sCalendar {

		 

			&__wrap {
				@include media-breakpoint-up(md) {

					padding: rem(32) rem(22);
				}
				padding: rem(32) rem(15);
				background-color: $light;
				text-align: center;
				border-radius: $border-radius;
				a{
					font-weight: bold;
				}
			}

			table{
				width: 100%;
			}
			&__month-name {
				@extend h4;
				font-weight: 600; 
				margin-bottom: 0; 
			}

				&__calendar-header {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 rem(10) rem(22);

					// padding-bottom: rem(20);
				}

			&__calendar {
				width: 100%;

				@include media-breakpoint-up(lg) {
					width: rem(614px);
					max-width: 100%;
				}

				margin-bottom: rem(30px);

				@include media-breakpoint-up(xl) {
					margin-bottom: 0;
				}
			}

			//header
		

			&__control-btn {
				@include mt;
				cursor: pointer;
				 &:hover{
					 color: $primary;
				 }
				.icon {
					font-size: rem(14);
					
			 
				}
			}

			&__calendar-body {
			 margin-bottom: rem(25);
				tbody {}

				tr {}

				td {
					border: none; 
					border-radius: $border-radius;
						position: relative;
						// padding: rem(10);
						height: rem(46);
						&.header-cell{
							padding: rem(10);
							height: auto;

						}
						text-align: center;
						font-weight: bold;
					vertical-align: middle;
				}
				.today-cell{
					a{

						color: #ffffff !important;
						background-color: $primary;
					}
				}
				.header-cell { 
					font-weight: 500;
					color: $secondary;
			 
					text-align: center;
				}
				a{
					display: flex;
					justify-content: center;
					align-items: center;
					text-decoration: none !important;
					// display: block;
					@include mt();
					border-radius: $border-radius;
					width: 100%;
					height: 100%;
				}
				//hover
				.default-day a:hover {
					background-color: $primary;
					color: #fff !important; 
					&:before {
						opacity: 1;
					} 
				}
			}
 
 
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sCalendar