mixin sBanners()
	// start sBanners
	+b.SECTION.sBanners.section&attributes(attributes)
		h2 Конкурсы и мероприятия 
		+e.slider-wrap
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var y = 1; y < 4; y++)
						- for (var x = 1; x < 4; x++)
							+e.slide.swiper-slide
								+e.img-wrap
									img.swiper-lazy(src="#" data-src=`img/@2x/banner-${x}.jpg`, alt="")
			.swiper-pagination.d-sm-none
			+arrow()

	// end sBanners
mixin sBanners-sm()
	// start sBanners
	+b.sBanners--sm.section.bg-light&attributes(attributes)
		.container
			+e.row 
				- for (var x = 1; x < 6; x++)
					+e.item
						+e.img-wrap
							+pic(`banner-2-${x}.jpg`,'bg','lazy',0)
							//- img.lazy(src="#" data-src=`img/@2x/banner-2-${x}.jpg`, alt="")

	// end sBanners