mixin sSchedule()
	// start sSchedule
	+b.SECTION.sSchedule.section#sSchedule&attributes(attributes)
		h2 Расписание архиерейских богослужений
		+itemCaption("Утреня в канун Великой Субботы",`Петро-Павловский кафедральный собор, <span class="d-inline-block"> г. Гомель.</span>`)
		+itemCaption("Божественная литургия в Великий Четверг Страстной седмицы",` Никольский храм, <span class="d-inline-block"> г. Гомель.</span>`)
		+itemCaption("Божественная литургия в Великую Среду",`Никольский храм, <span class="d-inline-block"> г. Гомель.</span>`)
		+itemCaption("Божественная литургия Преждеосвященных Даров в Великий вторник",`Приход храма Преображения Господня, <span class="d-inline-block"> г. Гомель.</span>`)
		+itemCaption("Божественная литургия в праздник Входа Господня в Иерусалим",`Храм Преображения Господня, <span class="d-inline-block">г. Светлогорск.</span>`)
		a.btn.btn-block.btn-outline(href="#") Смотреть все расписание
	// end sSchedule

mixin sSchedule5()
	// start sSchedule
	+b.sSchedule.section.pt-0#sSchedule&attributes(attributes)
		.container
			+b.sort-block
				label
					+e.SPAN.title Сортировка
					select()
						option Все владыки
						option Все владыки
						option Все владыки
						option Все владыки
						option Все владыки
			+itemCaption("Утреня в канун Великой Субботы",`Петро-Павловский кафедральный собор, <span class="d-inline-block"> г. Гомель.</span>`)
				+e.text--hidden.text-body 11 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт. Феофана Перифеорийского. Прпп. Иулиании и Евпраксии Московских. Собор новомучеников в Бутове пострадавших. Сщмч. Николая пресвитера. Икон Божией Матери: Успения Киево-Печерской (икона), принесенной из Царьграда, Печерской (икона) (с предстоящими Антонием (икона) и Феодосием (икона) Печерскими) и Свенской (икона).
					br
					| Утр. - Лк., 24 зач., VI, 17-23. Лит. - Деян., 29 зач., XII, 1-11. Ин., 31 зач., VIII, 31-42. Прп.: Евр., 334 зач., XIII, 7-16. Мф., 43 зач., XI, 27-30.
				.text-right.pt-3
					+e.toggle-text
			+itemCaption("Божественная литургия в Великий Четверг Страстной седмицы",` Никольский храм, <span class="d-inline-block"> г. Гомель.</span>`)
				+e.text--hidden.text-body 12 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт. Феофана Перифеорийского. Прпп. Иулиании и Евпраксии Московских. Собор новомучеников в Бутове пострадавших. Сщмч. Николая пресвитера. Икон Божией Матери: Успения Киево-Печерской (икона), принесенной из Царьграда, Печерской (икона) (с предстоящими Антонием (икона) и Феодосием (икона) Печерскими) и Свенской (икона).
					br
					| Утр. - Лк., 24 зач., VI, 17-23. Лит. - Деян., 29 зач., XII, 1-11. Ин., 31 зач., VIII, 31-42. Прп.: Евр., 334 зач., XIII, 7-16. Мф., 43 зач., XI, 27-30.
				.text-right.pt-3
					+e.toggle-text
			+itemCaption("Божественная литургия Преждеосвященных Даров в Великий вторник",`Приход храма Преображения Господня, <span class="d-inline-block"> г. Гомель.</span>`)
				+e.text--hidden.text-body 14 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт...
				.text-right.pt-3
					+e.toggle-text
			+itemCaption("Божественная литургия в праздник Входа Господня в Иерусалим",`Храм Преображения Господня, <span class="d-inline-block">г. Светлогорск.</span>`)
				+e.text--hidden.text-body 15 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт...
				.text-right.pt-3
					+e.toggle-text
			+itemCaption("Божественная литургия в праздник Входа Господня в Иерусалим",`Храм Преображения Господня, <span class="d-inline-block">г. Светлогорск.</span>`)
				+e.text--hidden.text-body 15 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт...
				.text-right.pt-3
					+e.toggle-text
			+itemCaption("Божественная литургия в праздник Входа Господня в Иерусалим",`Храм Преображения Господня, <span class="d-inline-block">г. Светлогорск.</span>`)
				+e.text--hidden.text-body 15 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт...
				.text-right.pt-3
					+e.toggle-text
			+itemCaption("Божественная литургия в праздник Входа Господня в Иерусалим",`Храм Преображения Господня, <span class="d-inline-block">г. Светлогорск.</span>`)
				+e.text--hidden.text-body 15 апреля 2020 г. ( 3 мая ст.ст.), суббота. 
					br
					| Седмица 4-я по Пасхе. Поста нет.
					br
					| Мчч. Тимофея и Мавры. Прп. Феодосия (икона), игумена Киево-Печерского. Прп. Петра (икона) чудотворца, еп. Аргосского. Свт...
				.text-right.pt-3
					+e.toggle-text
			+pugin()
	// end sSchedule