// мобильное меню

// мобильное меню
$h: 2px;

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: $primary;
	font-size: 32px;

	&.on {
		// color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {


		top: $h * 4;
	}

	span:after {
		bottom: $h * 4;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 22px;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
	 
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;
 
 width: 100%;
	height: 101vh;
	 max-width: 280px;
	top: 0;
	z-index: 999;
	// left: 0;
	right: 0;
	transform: translate( 120%, 0);
	@include mt(.6);
	will-change: transform;
	background-color: #fff;
	// padding-top: rem(80);

	&__inner {
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		overflow-x: hidden;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			// padding: 10px;
			// display: block;

		}
	}
	li{
		position: relative;
		ul{
			padding-left: rem(48);
		}
	}
}
.show-child{
	> ul{
		display: block;
	}
}
.toggle-sub-menu{
	position: absolute;
	right: -5px;
	top: 0;
	width: rem(47);
	height: rem(47);
	display: flex;
	justify-content: center;
	align-items: center;
	
	// background-color: #000000;
	z-index: 5;
	cursor: pointer;
	&::after {
		content: '';
		@include triangle(10px, currentColor, down);
		position: relative;
		@include mt;
	}
}