mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			.container
				+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.d-none.d-lg-block
		.container
			.row
				.col
					+mnu()
				.col-auto.d-none.d-xl-block
					+b.btn-search--js(type="button") 
						+icon('search')
	+b.search-block--js
		.container
			form

				input.form-control(type="text")
				+b.btn-search(type="button") 
					+icon('search')
	// end top-nav