//- menu
mixin mnu()
	-
		var nav= {
			"О епархии":"#",
			"Документы":"#",
			"Отделы":"#", 
			"Благочиния":"#",
			"Монастыри":"#",
			"Паломничества":"#",
			"Полезное":"#"
			}
	+b.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		+e.LI.item( itemprop="item" ): +e.A.link.current(href="#"  itemprop="url") Главная
		each linkPatch, linkName in nav
			+e.LI.item--has-child( itemprop="item" )
				+e.A.link(href= linkPatch  itemprop="url")= linkName
				+b.UL.menu-sub( itemprop="item" )
					+e.LI.item: +e.A.link(href="#"  itemprop="url") Под меню 1
					+e.LI.item: +e.A.link(href="#"  itemprop="url") Под меню 2
					+e.LI.item: +e.A.link(href="#"  itemprop="url") Под меню 3
//- /menu