mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")
		if block
			block
		else
			img(src=`img/svg/${icon}.svg`, alt="")
			//- +icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('fb')
			+item-sos('youtube')
			+item-sos('instagram')
mixin soc2()
	+b.soc
		if block
			block
		else
			+item-sos('vk')
			+item-sos('fb')
			+item-sos('instagram')